
.flexevenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.fontsize{
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fontfamilytexte{
    font-family: Roboto, sans-serif;
}
.fontfamilytitle{
    font-family: Shrikhand, cursive;
}
.iconback{
    cursor: pointer;
}
.colorblack{
    color: black;
}
.width{
    width: 50%;
}

.titleHeader {
    flex-grow: 5;
}

.restaus {
    display: flex; 
    flex-direction: column; 
    background-color: #f2f2f2;
    border-radius: 40px 40px 0 0 ;
    position: relative;
    top: -40px;
    margin-bottom: -40px;
    padding: 10px;
}
.flexBetween{
    display: flex;
    justify-content: space-between;
}

.img_menu {
    width: 100%;
}

.titleMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bold{
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.elementMenu_1 {
    opacity: 0;
    animation-duration: 1s;
    animation-name: myAnimation;
    animation-fill-mode: forwards;
}
.elementMenu_2 {
    opacity: 0;
    animation-delay: 200ms;
    animation-duration: 1s;
    animation-name: myAnimation;
    animation-fill-mode: forwards;
}
.elementMenu_3 {
    opacity: 0;
    animation-duration: 1s;
    animation-delay: 400ms;
    animation-name: myAnimation;
    animation-fill-mode: forwards;
}

@keyframes myAnimation {
    from {
        opacity: 0;
        transform: translate(0, 2vh);
        transition: all 1s;
    }
  
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}
.elements {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    list-style: none;
}

.element {
    position: relative;
    border-radius: 10px;
    padding: 7px;
    box-shadow: 1px 5px 7px #f2f2f2;
    overflow: hidden;
    background-color: white;
}

.wrapper span {
    position: relative;
    left: 87%;
    top: 15px;
}

.slide {
    position: absolute;
    right: -10%;
    width: 5%;
    height: 65px;
    background: rgba(164, 164, 177, 0.37);
    text-decoration: none;
}

.slide i {
    display: flex;
    color: white;
    height: 65px;
    justify-content: center;
    align-items: center;
}

.wrapper:hover .slide {
    transition: 1s;
    right: 0%;
}

.wrapper:hover i {
    -webkit-animation: spin 800ms linear;
    -moz-animation: spin 800ms linear;
    -ms-animation: spin 800ms linear;
    animation: spin 800ms linear;
}


@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
    }
}
@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.wrapper:hover span {
    transition: 1s;
    left: 84%;
    cursor: pointer;
}

.wrapper:not(:hover) .slide {
    transition: 1s;
}

.wrapper:not(:hover) span {
    transition: 1s;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #222;
    color: white;
    padding: 10px;
}

.soulignement {
    width: 40px;
    border-bottom: solid gray 3px;
}

#commander {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.commander {
    border-radius: 25px;
    border-style: none;
    background: linear-gradient(to top left, #9356DC, #ff79da);
    padding-left: 10px;
    padding-right: 10px;
    padding: 13px 50px;
    box-shadow: 0 0 7px #F2F2F2;
    color: white;
    cursor: pointer;
}

.footer > a { 
    color: white; 
    text-decoration: none; 
}

.commander:hover {
    box-shadow: 0 0 7px #f2f2f2;
    transition: all 500ms;
    opacity: 0.8;

}

#heart {
    display:block;
    height:50px;
    width:80px;
    position:relative;
    pointer-events:auto;
}
#heart .fill {
    display: block;
    height: 70px;
    left: -1px;
    overflow: hidden;
    position: absolute;
    top: -4px;
    width: 70px;
    z-index: 3;
    -webkit-transition: height 2s ease-in-out;
    -moz-transition: height 2s ease-in-out;
    -o-transition: height 2s ease-in-out;
    -ms-transition: height 2s ease-in-out;
    transition: height 2s ease-in-out;
}
#heart .fill:before, #heart .fill:after {
    background: #F2F2F2;
    border-radius: 85px 60px 0 0;
    content:"";
    height: 59px;
    left: 37px;
    position: absolute;
    top: 6px;
    width: 36px;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 85px 60px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
#heart .fill:after {
    left: 1px;
    -webkit-transform: rotate(45deg);
    border-radius: 45px 60px 0 0;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
#heart .outline {
    position: relative;
    margin-left: 8px;
}
#heart .outline:before, #heart .outline:after {
    position: absolute;
    content:"";
    left: 28px;
    top: 1px;
    width: 39px;
    height: 62px;
    background: #d53423;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 85px 60px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
#heart .outline:after {
    left: -11px;
    -webkit-transform: rotate(45deg);
    border-radius: 45px 60px 0 0;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
#heart:hover .fill {
    height:0px;
}

@media screen and (min-width:1024px){
    .elements{
        padding: 10px;
        flex-direction:column
    }
    .element{
        width: 285px;
    }
.flexrow{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.restaus{
    margin-left: 1%;
    width: 96%;
    
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper:hover span {
    transition: 1s;
    left: 73%;
}
.slide{
    right: -50px;
    width: 45px;
}
.wrapper span{
    left: 260px;
}
}
@media screen and (max-width:992px){
    .elements{
        width: 80%;
        margin-left: 20px;
    }
    .wrapper span {
        left: 93%;
    }
    .wrapper:hover span {
        
        left: 89%;
    }
    .wrapper{
        width: 160%;
    }


}
@media screen and (max-width:425px){
    .wrapper:hover span {
        
        left: 91%;
    }
    .wrapper span {
        position: relative;
        left: 96%;
        top: 25px;
    }
    .wrapper{
        width: 300%;
    }
    .element{
        width: 111%;
        margin-left: -15px;
    }
    .elements{
        width: 86%;
        margin-left: 10px;
    }

}