
.flexevenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.fontsize{
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fontfamilytitle{
    font-family: shrikhand, sans-serif;
}
.fontfamilytext{
    font-family: roboto;
}
.iconback{
    cursor: pointer;
}
.margicon{
    margin-left: -15%;
}
.colorblack{
    color: black;
}
.width{
    width: 50%;
    margin-left: -10%;
}
.titleHeader {
    flex-grow: 5;
}
.restaus {
    display: flex; 
    flex-direction: column; 
    background-color: #f2f2f2;
    border-radius: 40px 40px 0 0 ;
    position: relative;
    top: -40px;
    margin-bottom: -40px;
    padding: 10px;
}
.flexBetween{
    display: flex;
    justify-content: space-between;
}

.img_menu {
    width: 100%;
}

.titleMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.bold{
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: -15px;
}
.elementMenu_1 {
    opacity: 0;
    animation-duration: 1s;
    animation-name: myAnimation;
    animation-fill-mode: forwards;
}
.elementMenu_2 {
    opacity: 0;
    animation-delay: 200ms;
    animation-duration: 1s;
    animation-name: myAnimation;
    animation-fill-mode: forwards;
}
.elementMenu_3 {
    opacity: 0;
    animation-duration: 1s;
    animation-delay: 400ms;
    animation-name: myAnimation;
    animation-fill-mode: forwards;
}

@keyframes myAnimation {
    from {
        opacity: 0;
        transform: translate(0, 2vh);
        transition: all 1s;
    }
  
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}
.elements {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    list-style: none;
}
.elements4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    list-style: none;
}
.margtop{
    margin-top:1px;
}
.reglageprix{
    top:40px
}
.element {
    display: flex;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 2px #f2f2f2;
    overflow: hidden;
    background-color: white;
}

.containerA{
    padding: 7px;
    width: 100%;
    overflow: hidden;
}

.containerB{
    width: 0%;
    background-color: #99E2D0;
}

.contenuText {
    display: flex; 
    justify-content: space-between; 
}

.slide {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.slide i {
    color: white;
}

.element:hover .containerB {
    transition: 1s;
    width: 30%;
}

.element:hover i {
    -webkit-animation: spin 800ms linear;
    -moz-animation: spin 800ms linear;
    -ms-animation: spin 800ms linear;
    animation: spin 800ms linear;
}
@-ms-keyframes spin {
    from {
        -ms-transform: rotate(200deg);
    }
    to {
        -ms-transform: rotate(360deg);
    }
}
@-moz-keyframes spin {
    from {
        -moz-transform: rotate(200deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@keyframes spin {
    from {
        transform: rotate(200deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(200deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.element:not(:hover) .containerB {
    transition: 1s;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #222;
    color: white;
    padding: 10px;
}

.soulignement {
    width: 40px;
    border-bottom: solid #99E2D0 3px;
}

#commander {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.commander {
    border-radius: 25px;
    border-style: none;
    background: linear-gradient(to top left, #9356DC, #ff79da);
    padding-left: 10px;
    padding-right: 10px;
    padding: 13px 50px;
    box-shadow: 0 3px 7px #8080808a;
    color: white;
}

.footer > a { 
    color: white; 
    text-decoration: none; 
}

.commander:hover {
    box-shadow: 0 0 7px #f2f2f2;
    transition: all 500ms;
    opacity: 0.8;

}
.margright{
    margin-right: -20px;
    }
.jauge-remplissage1:hover{
    opacity: 1;
    background-image: linear-gradient(to bottom, #9356DC, #ff79da);

}
.jauge-remplissage1{
    color: transparent;
    background-clip:text;
    background-image: linear-gradient(to bottom, #9356DC, #ff79da);
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.paddingcoeur{
    padding-inline: 25px;
}
.margrightcoeur{
    margin-right: -20px;
    }
.loader{
        background-color: #fff;
        height: 100vh;
        position: fixed;
        inset: 0;
        z-index: 1;
        opacity: 0.9;
        animation: chargement 500ms;
        animation-fill-mode: forwards;
        animation-delay: 3s;
        transform-origin: top;
        display: flex;
        align-items: center;
        justify-content:center;
    } 
@keyframes chargement {
        from{
            transform: scale(1);
        }
    
        to{
            transform: scale(0);
        }
    
        
    }
@media screen and (min-width:1024px) {
    .elements{
        padding: 10px;
        flex-direction:column;
    }
    .elements4{
        padding:10px;
        flex-direction:column;
        margin-bottom: -45px;
    }
    .element{
        width: 285px;
    }
.flexrow{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.restaus{
    padding: 0px;
    width: 100%;
    height: 387px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper:hover span {
    transition: 1s;
    left: 73%;
}
.slide{
    right: -50px;
    width: 60px;
}
.wrapper span{
    left: 260px;
}
.elementMenu_1, .elementMenu_2, .elementMenu_3{
    flex-direction: column;
  
}

.soulignement{
    width: 0px;
    border-bottom: solid #99E2D0 0px;
}
.titleMenu{
    margin-left: 25px;
}
}

@media screen and (min-width:768px){
.img_menu{
    border-radius: 65px 65px 0px 0px;
    height: 550px;
    object-fit: cover;
    object-position: 50% 45%;
}
.elementMenu_1, .elementMenu_2, .elementMenu_3{
    padding-right: 5px;
    
}
.soulignement{
    width: 40px;
    border-bottom: solid #99E2D0 3px;

}
}
@media screen and (min-width:426px){
    .wrapper:hover span {
        left: 91%;
    }
    .wrapper span {
        position: relative;
        left: 96%;
        top: 25px;
    }
    .wrapper{
        width: 300%;
    }
       
    .img_menu{
        border-radius: 65px 65px 0px 0px;
        height: 500px;
        object-fit: cover;
        object-position: 50% 45%;
        }
}


@media screen and (max-width:425px){
    .wrapper:hover span {
        left: 91%;
    }
    .wrapper span {
        position: relative;
        left: 96%;
        top: 25px;
    }
    .wrapper{
        width: 300%;
    }
    .element{
        width: 111%;
        margin-left: -15px;
    }
    .elements{
        width: 86%;
        margin-left: 10px;
    }
    .elements4{
        width: 86%;
        margin-left: 10px;
    }
    .img_menu{
        height: 250px;
        object-fit: cover;
        object-position: 50% 45%;
    }
}